/* Спецификация */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: inline;
    padding: 0;
    margin: 0; 
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
    
}
h3{
    text-align: center;
    padding-top: 10px;
}
h4 {
    font-family: Montserrat-Bold;
    padding-top: 8px;
    font-size: 16px;
    color: #222222;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    width: 80%;
    line-height: 1.1;
}
h5{
    font-family: Montserrat-Bold;
    padding-top: 0px;
    font-size: 19px;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
   padding-left: 30px;
    width: 60%;
    line-height: 0.5;
    padding-bottom: 20px;
}

h1{
    font-family: Montserrat-Bold;
    color: #ffffff;
    font-size: 12px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px; 
    padding-bottom: 10%; 

}
h2{
    font-family: Montserrat-Bold;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    width: 110%;
   
}

.adres{
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #ffffff;
    padding-left: 15px;
    
}

.mail{
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #ffffff;
    padding-left: 5px;
}

.m-text5-proiz {
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: #222222;
    line-height: 1.2;
}
.m-b-40{
    padding: 2px;
    text-align: left;
}
.m-text5{
    padding-top: 30px;
}
p {
    font-family: Montserrat-Regular;
    font-size: 19px;
    line-height: 1.4;
    color: #000;
    margin: 0px;
}

/*Шапка*/
.header {
    position: sticky;
    top: 0;
    background: #ffffff;
    color: #010101;
    padding-top:15px;
    z-index: 100;
}

.menu {
    
    margin-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    list-style-type: none;
    
}

.menu__item {
    margin: 15px;

}

.menu__item a {
    font-size:16px;
    font-weight:700;
    color: #000;
    
}
.Zavod{
    display: block;
    margin: 20px auto 0;
}
.phone-header {
    color: #014b8d;
    font-family: Montserrat-Bold;
    font-size: 25px;
    padding-left: 240px;
    font-weight:bold
}
.glav{
    display: block;
   
}
.block-onas {
    display: block;
    padding: 20px 20px;
    height: 100%;
    background: #f0f0f0;
    border: 4px solid #7ac043;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.m-b-20 {
    position:relative;
    font-size:24px;
    margin-bottom: 20px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.block-onas{
    display: inline-block;
    color: #7ac043;
    margin-right: 0px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.about{
    padding-bottom: 30px;
}
/*Второй экран*/
.features {
    background: #f0f0f0
}
.card {
    font-family: "PT Sans", sans-serif;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-top: 22px;
}

.t-center {
    text-align: center;
}
.carousel-inner{
    padding-top: 50px;
}
/*третий экран ownage*/
.icons-img {
    width: 50px;
    margin-top: 22px;
    
}
img {
    vertical-align: middle;
    border-style: none;
}
.icons-text {
    font-family: Montserrat-Bold;
    font-size: 18px;
    text-align: left;
    font-weight:bold;
    color: #000000;
    display: inline-block;
    vertical-align: sub;
    margin-left: 20px;
    width: 80%;
    line-height: 1.1;
    padding-left: 15px;
    
}
.icons-textt {
    font-family: Montserrat-Bold;
    font-size: 18px;
    text-align: left;
    font-weight:bold;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    width: 80%;
    
}

.m-l-auto {
    margin-left: auto;
}
.m-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}
.block-product {
    background: #7ac043;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    width: 91.5%;
    margin-left: 25px;
    padding-left: 30px;
    
}
.w-100{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-top: 70px;
    padding-right: 25px;
    padding-left: 25px;

}
/*4 экран тач*/
.touch{
    background: #f0f0f0;
}
/*5-й экран*/
.m-text5-xyu{
    font-family: Montserrat-Bold;
    font-size: 20px;
    text-align: left;
    color: #222222;
    line-height: 1.2;
    border-bottom: 2px solid #3fc54f;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.madj {
    padding-top: 40px;
}
.ajax_form.af_example {
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
}
.bo4 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}
input {
    outline: none;
    border: none !important;
}
.btn-primary-sitle {
    color: #fff;
    background-color: #3fc54f;
    border-color: #3fc54f;
    border-radius: 0px;
    font-family: Montserrat-Bold;
    font-size: 22px;
    width: 100%;
}
.s-text7 {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #000;
    line-height: 1.5;
}
.size15 {
    width: 100%;
    height: 50px;
}
.of-hidden {
    overflow: hidden;
}
.m-b-10 {
    margin-bottom: 10px;
}
.p-r-22 {
    padding-right: 22px;
}
.p-l-22 {
    padding-left: 22px;
}
/*карта*/

/*Футер*/
.footer{
    
    background: #014b8d;
}
.footer a:hover{
    color:#fff;
    text-decoration: underline;
}
.footer a{
    text-decoration: none;
    transition: all .3s;
    color:#fff;
}
.imgf{
    position: relative;
    padding-left: 9px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.icons-text2 {
    font-family: Montserrat-Bold;
    font-size: 18px;
    text-align: left;
    font-weight:bold;
    color: #ffffff;
    display: inline-block;
    vertical-align: sub;
    margin-left: -35px;
    width: 80%;
    line-height: 1.1;
    padding-right: 0px;
    
}
.footer-icons{
    display: inline-block;
    font-size:32px;
    padding-left: 330px;
    padding-top: 2px;
}

.footeer-iconss{
    display: inline-block;
    font-size:32px;
    padding-left: 337px;
    padding-top: 2px;
}

.foot-tmob{
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
}

.foot-inf{
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 50px;
}

.fa-envelope{
    width: 2px;
}


/*Навигация кнопка*/
#myBtn {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 28.5%;
    left: 97.25%;
    max-width: 10px;
    width: 100%;
    font-size: 18px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    padding-right: 20px;
    border-radius: 34px;
}
